<div class="modal-image">
	<div class="vertical-helper">
		<img src="<%= homework_image %>">
		<p class="image-credit"><%= homework_image_credit %></p>
	</div>
</div>
<div class="modal-description">
	<div class="row modal-assignment">	
  		<div><span class="modal-title"><%= title %></span></div>
  		<div class="modal-text"><%= text %>!</div>
	</div>
	<div class="row modal-assigner">
		<div class="assigner-image">
			<img src="<%= assigner_image %>">
			<p class="image-credit"><%= assigner_image_credit %></p>
		</div>
		
		<div class="modal-person-container">
			<div class="modal-person"><%= person %></div>
			<div class="modal-person-title"><%= person_title %></div>
			<div><a href="<%= episode %>">Hear the interview</a></div>
		</div>
	</div>
</div>
