
<div class="modal-image">

	<div>
		
		<% if (verbs == "Do") { %>
		<img src="https://cdn.wbez.org/image/eb51057e08ab7cf99db00eb6d058ea72">
		<% } %>

		<% if (verbs == "Read") { %>
		<img src="https://cdn.wbez.org/image/4d3f8dff419670c56e4d74f5077eacb0">
		<% } %>

		<% if (verbs == "Listen") { %>
		<img src="https://cdn.wbez.org/image/e0c4d579479f6a065f6a0e5acbcbf0a4">
		<% } %>

		<% if (verbs == "Watch") { %>
		<img src="https://cdn.wbez.org/image/19b8ad44e3b10cfdbc31f27cc97bcd45">
		<% } %>
	</div>
	
</div> 
<div class="row modal-description">
	<div>

		<div class="row modal-assignment">	
	  		<div><span class="modal-title"><%= title %></span></div>
	  		
	  		<div class="modal-text">
	  		<i class="fa fa-quote-left fa-pull-left fa-3x" aria-hidden="true"></i>
	  		<%= text %></div>
		</div>

		<div class="modal-assigner-container">
			<div class="row modal-assigner">
				<div class="assigner-image">
					<img src="<%= assigner_image %>">
				</div>
			
				<div class="modal-person-container">
					<div class="modal-person"><%= person %></div>
					<div class="modal-person-title"><%= person_title %></div>
					<div class="hear"><a href="<%= episode %>"><i class="fa fa-headphones" aria-hidden="true"></i> Hear the interview</a></div>
					<div class="row assigner-image-credit">
						<% if (assigner_image_credit) { %><p class="image-credit">Image: <%= assigner_image_credit %></p><% } %>
					</div>
				</div>
				
			</div>
	</div>
</div>

