{% extends '_base.html' %}

{% block header_content %}
    <div class="container-fluid headline-container">
        <div class="row headline">
            <div class="title">
                <h1 class="text-center">{{ COPY.content.headline|smarty }}</h1>
                <p>{{ COPY.content.subhed|smarty }}</p>
            </div>
        </div>
        <div class="row byline">
            <!-- &bull; Curated by <a href="https://nerdettepodcast.com">Tricia Bobeda and Greta Johnsen</a> &bull; -->
        </div>
    </div>
    <div class="container-fluid">
        <div class="row verbs">
        </div>
        <div id="filters" class="row" data-spy="affix">
            <div class="col-xs-12">
                {% for verb in COPY.verbs %}
                <button class="verb {{verb.slug}} simplebox btn btn-default" data-filter="{{verb.slug}}">{{verb.verb}}</button>
                {% endfor %}
            </div>
            <div class="assigners-select col-sm-6">
                <button class="assigner-btn" type="button" data-toggle="collapse" data-target="#assigner-collapse" aria-expanded="false" aria-controls="assigner-collapse">
                Pick by assigner
                </button>
                <div class="row collapse" id="assigner-collapse">
                    {% for person in ASSIGNERS %}
                        {% with %}
                            {% set loop_cycle = loop.cycle('odd', 'even') %}
                            {% include '_person.html' %}
                        {% endwith %}     
                    {% endfor %}
                </div>
            </div>
            <div class="filter-text col-sm-6">
                <span class="active-filters"></span>
                <span class="clear-filters"></span>
            </div>
        </div>
    </div>

    
{% endblock header_content %}

{% block content %}
<section id="content">
    <div id="items">
        {% for item in ITEMS|sort(attribute='date_obj',reverse=True) %}
            {% with %}
                {% set loop_cycle = loop.cycle('odd', 'even') %}
                {% include "_homework.html" %}
            {% endwith %}  
        {% endfor %}
        <div id="noresults" class="row item">
            <div class="col-sm-3 meta">
            </div>
            <div class="col-sm-6">
                No homework!
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>

    {% include "_modal.html" %}
</section>
{% endblock %}
